.workspace {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 31px;
  bottom: 0;
}

.panels {
  width: 100%;
  height: 100%;
  position: relative;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-bg-container);
}

.about {
  text-align: center;
}

.icon {
  margin-top: -15px;
}

// 列表组件字体增加 2px
:global(.luna-data-grid),
:global(.luna-data-grid .luna-data-grid-cell) {
  font-size: 16px;
}

:global(.luna-file-list),
:global(.luna-file-list .luna-file-list-file-name) {
  font-size: 16px;
}

:global(.luna-icon-list),
:global(.luna-icon-list .luna-icon-list-text) {
  font-size: 16px;
}

:global(.luna-logcat) {
  font-size: 16px;
  :global(.luna-logcat-entry) {
    font-size: 16px;
  }
  :global(.luna-logcat-content) {
    font-size: 16px;
  }
}
